
body{
    background-image: url('../images/logo.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-position-y: 1px;
    margin: 0px;
    overflow-x: hidden;
}
#main-page{
    background: #f9f9f9;
    min-height: 120vh;
    margin-top:210px;
    z-index: 0;
}
#nav-bar{
    z-index: 9999;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0px;
    padding: 0px 10px 5px 10px;
    min-height:85px;
}
#sec-logo{
    margin-top: 6px;
    display: none;
    float: left;
}
#head-text{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #394d00;
}
#nav-bar img{
    width: 140px;
}
#menu{
    margin-top:20px;
    line-height: 55px;
}
#menu ul{
    list-style-type:none;
    padding: 0px;
    font-size: 12pt;
    font-weight: bold;
}
#menu ul li{
    display: inline-block;
    margin: 0px 15px;
    cursor: pointer;
    transition: 0.1s linear;
}
#menu ul li:hover{
    color: #77b300;
}
.menu-state-active{
    color: #77b300;
    border-bottom: 3px solid #77b300;
}
#menubar{
    display: none;
    text-align: center;
    font-size: 17pt;
    transition: 0.1s linear;
}
#menubar:hover{
    color: #77b300;
    cursor: pointer;
}


#content{
    padding: 20px;
}

@media only screen and (max-width: 767px) {
    body{
        background-size: 220px;
    }
    
    #main-page{
        margin-top:130px;
    }
    #menu{
        display: none;
        margin-top:20px;
        line-height: normal;
    }
    #menu ul{
        list-style-type:none;
        padding: 0px;
        font-size: 15pt;
        font-weight: bold;
    }
    #menu ul li{
        width: -moz-fit-content;
        padding: 10px;
        display: inherit;
        cursor: pointer;
        transition: 0.1s linear;
    }
    #menubar{
        display: block;
    }
}
